<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>Django Times</title>	
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-icon.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
div.nav_settings {
    float: left;
    max-width: 100px;
}
</style>
</head>
<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="/">Django Times</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/">About</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">Popular Books</a></li>
          <li><a href="/">About My Self</a></li>
          <li><a href="/">Phylosophy</a></li>
          <li><a href="/">Contact</a></li>
		  <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
     <div class="banner-text text-center-left">
	<div class="nav_settings">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'books' %}">All books</a></li>
			<li><a href="{% url 'authors' %}">All authors</a></li>
			{% if user.is_authenticated %}
			<li>User: {{ user.get_username }}</li>
			<li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
			<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
			{% else %}
			<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
			{% endif %} 
		</ul>
  
			{% if user.is_staff %}
			<h3 style="color:blue">your position</h3>
		<ul>
			<li>Staff</li>
			{% if perms.catalog.can_mark_returned %}
			<li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
			{% endif %}
		</ul>
			{% endif %}
	</div>
	<!--this is nav-->

	<div class="container-fluid">

	<div class="col-sm-10 ">
	{% block content %}{% endblock %}
	{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
		</div>
      <!-- banner text --> 
    </div>
  </div>
  </div>
</section>

<!-- header section --> 
<!-- Footer section -->
<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-6">
          <h5>Our Office Location</h5>
          <p>Maratha hally Benglore , Karnataka.<br>
            +91 9063172041<br>
            nazeershaik95@gmail.com</p>
          <p>Copyright © 2018 Nazeer Shaik. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by Django Times</p>
        </div>
        <div class="footer-col col-md-3">
          <h5>Services We Offer</h5>
          <p>
          <ul>
            <li><a href="#">Digital Strategy</a></li>
            <li><a href="#">Websites</a></li>
            <li><a href="#">Videography</a></li>
            <li><a href="#">Social Media</a></li>
            <li><a href="#">User Experience</a></li>
          </ul>
          </p>
        </div>
        <div class="footer-col col-md-3">
          <h5>Share with Love</h5>
          <ul class="footer-share">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top --> 
  
</footer>
<!-- Footer section --> 
<!-- JS FILES -->
{% load static %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="{% static "js/bootstrap.min.js"%}"></script> 
<script src="{% static "js/jquery.flexslider-min.js"%}"></script> 
<script src="{% static "js/jquery.fancybox.pack.js"%}"></script> 
<script src="{% static "js/retina.min.js"%}"></script> 
<script src="{% static "js/modernizr.js"%}"></script> 
<script src="{% static "js/main.js"%}"></script> 
<script type="text/javascript" src="{% static "js/jquery.contact.js"%}"></script>
</body>
</html>
