{% extends "base_generic.html" %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	border: 1px solid blue;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	border: 1px solid blue;
}

tr:nth-child(even) {
    background-color: white;
}
table#t01 tr,th {
    background-color: blue;
    color: white;
}
</style>
	
	<table>
		<caption><h1 style="color:blue">Book List</h1></caption>
	  <tr>
       <th>Book Name</th>
       <th>Author</th>
       <th>Language</th>
      </tr>
  
    {% if book_list %}

      {% for book in book_list %}
	<tr>
       <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
       <td>{{book.author}}</td>
       <td>{{book.language}}</td>
     </tr>

      {% endfor %}

    {% else %}
      <p>There are no books in the library.</p>
    {% endif %} 
</table>	
{% endblock %}

